.menu {
    width: 19rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 60%;
    transform: translateY(-60%);
    left: 10vw;
}

.item {
    height: 3.7rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.title {
    font-size: 1rem;
    padding-right: 2.5rem;
}

.item.active {
    position: relative;
    cursor: default;
}

.item.active .title {
    font-size: 1.5rem;
}

.item.active:nth-child(1) {
    background: linear-gradient(90deg, var(--transparent), var(--purple) 70%);
    border-radius: var(--radius-right);
}

.item.active:nth-child(2) {
    background: linear-gradient(90deg, var(--transparent), var(--orange) 70%);
    border-radius: var(--radius-right);
}

.item.active:nth-child(3) {
    background: linear-gradient(90deg, var(--transparent), var(--cyan) 70%);
    border-radius: var(--radius-right);
}

.sub-container {
    width: 23rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 32%;
    right: 10vw;
    cursor: pointer;
}

.active-subheading {
    cursor: default;
}

.sub-container-1.active-subheading h3,
.sub-container-2.active-subheading h3,
.sub-container-3.active-subheading h3 {
    border-radius: var(--radius-left);
}

.sub-container-1.active-subheading h3 {
    background: linear-gradient(90deg, var(--purple), var(--transparent) 100%);
}

.sub-container-2.active-subheading h3 {
    background: linear-gradient(90deg, var(--orange), var(--transparent) 100%);
}

.sub-container-3.active-subheading h3 {
    background: linear-gradient(90deg, var(--cyan), var(--transparent) 100%);
}

.sub-container-1 h3,
.sub-container-2 h3,
.sub-container-3 h3 {
    position: relative;
    margin: 0.2rem 0;
    padding: 0.5rem 0 0.5rem 1rem;
}

.icon-p-container {
    display: none;
}

.active-subheading .icon-p-container {
    display: flex;
    font-size: 1rem;
    padding-left: 1rem;
}

.p-container {
    max-height: 10rem;
    overflow-y: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

p {
    margin-top: 0;
    padding-right: .7rem;
}

.icon-title-container {
    display: flex;
    gap: 1.2rem;
    margin-bottom: 0.5rem;
    cursor: default;
}

.icon {
    width: 3rem;
    height: 3rem;
}

.sub-container-icon {
    width: 5rem;
    height: 5rem;
    margin: 1rem;
}

@media (max-width: 1100px) {
    .sub-container {
        right: 1rem;
        width: 17.5rem;
    }
    .item.active .title {
        font-size: 1rem;
    }
    .item {
        height: 2rem;
    }
}

@media (max-width: 700px) {
    .menu {
        width: 10rem;
        top: 30%;
        left: 50%;
        transform: translateY(-50%);
    }
    .sub-container {
        width: 15rem;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
    }
    .title {
        font-size: 0.8rem;
        padding-right: 2.5rem;
    }
    .active-subheading .icon-p-container {
        font-size: 0.8rem;
    }
    .icon-title-container, .icon, .sub-container-icon {
        display: none;
    }
    .p-container {
        max-height: 7rem;
        margin-left: 1rem;
    }
    h1 {
        font-size: 0.8rem;
    }
    h2,h3,p {
        font-size: 0.8rem;
    }
}